{% extends 'blog/base.html' %}

{% block content %}
    {% for post in page_obj %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr|slice:":300" }}{% if post.text|length > 300 %}...{% endif %}</p>
            {% if post.image %}
                <div class="post-image">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-thumbnail">
                </div>
            {% endif %}
            {% if post.color %}
                <p><strong>Color:</strong> <span style="color: {{ post.color }}">{{ post.color }}</span></p>
            {% endif %}
            {% if post.address %}
                <p><strong>Dirección:</strong> {{ post.address }}</p>
            {% endif %}
            {% if post.reference %}
                <p><strong>Referencia:</strong> {{ post.reference }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% else %}
                <span class="disabled">&laquo; primera</span>
                <span class="disabled">anterior</span>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% else %}
                <span class="disabled">siguiente</span>
                <span class="disabled">última &raquo;</span>
            {% endif %}
        </span>
    </div>
{% endblock %}
